<a href="https://colab.research.google.com/github/BrendaLoznik/waterpumps/blob/main/Waterpumps.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

competition: https://www.drivendata.org/competitions/7/pump-it-up-data-mining-the-water-table/

geographical data: https://heartbeat.fritz.ai/working-with-geospatial-data-in-machine-learning-ad4097c7228d

optional data quality report: https://github.com/benjimr/Data-Summarizer-for-a-Data-Quality-Report/blob/master/Reporter.py

data quality report: https://github.com/ColinLeverger/machine-learning-python

In [1]:
!nvidia-smi

Sat May 15 11:00:53 2021
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 465.19.01    Driver Version: 460.32.03    CUDA Version: 11.2     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  Tesla T4            Off  | 00000000:00:04.0 Off |                    0 |
| N/A   66C    P8    11W /  70W |      0MiB / 15109MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+

###**1.1 Loading Libraries**

In [2]:
#basic libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from scipy import stats

###**1.2 Loading data**

In [3]:
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [4]:
train_labels = pd.read_csv('/content/gdrive/MyDrive/Kaggle/Waterpumps/train_labels.csv')
train_values = pd.read_csv('/content/gdrive/MyDrive/Kaggle/Waterpumps/train_values.csv', parse_dates = ['date_recorded'])
test_values = pd.read_csv('/content/gdrive/MyDrive/Kaggle/Waterpumps/test_values.csv', parse_dates = ['date_recorded'])

In [5]:
#merge train values and train labels to single dataset
train= pd.merge(train_labels , train_values, on='id')

In [6]:
#concatenate train and test for easier data minipulation
raw = pd.concat([train, test_values])
raw.head()

      id    status_group  ...              waterpoint_type waterpoint_type_group
0  69572      functional  ...           communal standpipe    communal standpipe
1   8776      functional  ...           communal standpipe    communal standpipe
2  34310      functional  ...  communal standpipe multiple    communal standpipe
3  67743  non functional  ...  communal standpipe multiple    communal standpipe
4  19728      functional  ...           communal standpipe    communal standpipe

[5 rows x 41 columns]

In [7]:
#convert faulty datatypes
raw[['region_code','district_code', 'num_private']] = raw[['region_code','district_code', 'num_private']].astype('object')

In [8]:
#divide features into numerical and cateogorical for ease of describtion
numerical = ['id', 'amount_tsh', 'date_recorded', 'gps_height',  'longitude', 'latitude', 
             'population', 'construction_year' ]

categorical = ['status_group', 'funder', 'installer','wpt_name','num_private',  'basin', 'subvillage', 'region', 'region_code',
               'district_code', 'lga', 'ward', 'public_meeting', 'recorded_by', 'scheme_management', 
               'scheme_name', 'permit', 'extraction_type', 'extraction_type_group','extraction_type_class',
               'management', 'management_group', 'payment','payment_type', 'water_quality', 'quality_group', 'quantity',
               'quantity_group', 'source', 'source_type', 'source_class', 'waterpoint_type', 'waterpoint_type_group']


print("Number of numerical features: {}".format(len(numerical)))
print("Number of categorical features: {}".format(len(categorical)))

Number of numerical features: 8
Number of categorical features: 33

###**2.1 Exploring the data**

####**2.1.1 Numerical data**

In [ ]:
raw[numerical].head()

      id  amount_tsh date_recorded  ...   latitude  population  construction_year
0  69572      6000.0    2011-03-14  ...  -9.856322         109               1999
1   8776         0.0    2013-03-06  ...  -2.147466         280               2010
2  34310        25.0    2013-02-25  ...  -3.821329         250               2009
3  67743         0.0    2013-01-28  ... -11.155298          58               1986
4  19728         0.0    2011-07-13  ...  -1.825359           0                  0

[5 rows x 8 columns]

In [ ]:
#raw[numerical].describe()

In [ ]:
#print percentage of missing numerical datapoints
#round(raw[numerical].isna().sum()*100/raw[numerical].isna().count()).sort_values(ascending=False)

In [ ]:
#explore the cardinality of numerical features
#for column in raw[numerical]:
  #unique = raw[column].nunique()
  #print(column,":", unique)

###Data Quality report Numerical features

In [ ]:
data_types = pd.DataFrame(
    raw[numerical].dtypes,
    columns=['Data Type'])

missing_data = pd.DataFrame(
    raw[numerical].isnull().sum(),
    columns=['Missing Values'])

unique_values = pd.DataFrame(
    columns=['Unique Values']
)
for row in list(raw[numerical].columns.values):
    unique_values.loc[row] = [raw[numerical][row].nunique()]

maximum_values = pd.DataFrame(
    columns=['Maximum Value'])
for row in list(raw[numerical].columns.values):
    maximum_values.loc[row] = [raw[numerical][row].max()]

minimum_values = pd.DataFrame(
    columns=['Minimum Value'])
for row in list(raw[numerical].columns.values):
    minimum_values.loc[row] = [raw[numerical][row].min()]

count_values = pd.DataFrame(
    columns=['Count Value'])
for row in list(raw[numerical].columns.values):
    count_values.loc[row] = [raw[numerical][row].count()]

mean_values = pd.DataFrame(
    columns=['Mean Value'])
for row in list(raw[numerical].columns.values):
    mean_values.loc[row] = [raw[numerical][row].mean()]

quartile_1 = pd.DataFrame(
    columns=['1st Quartile'])
for row in list(raw[numerical].columns.values):
    quartile_1.loc[row] = [raw[numerical][row].quantile(0.25)]

median = pd.DataFrame(
    columns=['Median'])
for row in list(raw[numerical].columns.values):
    median.loc[row] = [raw[numerical][row].quantile(0.5)]

quartile_3 = pd.DataFrame(
    columns=['3rd Quartile'])
for row in list(raw[numerical].columns.values):
    quartile_3.loc[row] = [raw[numerical][row].quantile(0.75)]

dq_report = data_types.join(count_values).join(missing_data).join(unique_values).join(minimum_values).join(maximum_values).join(mean_values).join(quartile_1).join(median).join(quartile_3)
dq_report['Missing %'] = (dq_report['Missing Values'] / len(raw[numerical]) *100)
dq_report

                        Data Type Count Value  ...         3rd Quartile Missing %
id                          int64       74250  ...              55686.8       0.0
amount_tsh                float64       74250  ...                   20       0.0
date_recorded      datetime64[ns]       74250  ...  2013-02-09 00:00:00       0.0
gps_height                  int64       74250  ...                 1317       0.0
longitude                 float64       74250  ...              37.1817       0.0
latitude                  float64       74250  ...             -3.32506       0.0
population                  int64       74250  ...                  215       0.0
construction_year           int64       74250  ...                 2004       0.0

[8 rows x 11 columns]

Sat May 15 10:57:42 2021
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 465.19.01    Driver Version: 460.32.03    CUDA Version: 11.2     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  Tesla K80           Off  | 00000000:00:04.0 Off |                    0 |
| N/A   67C    P0    71W / 149W |    124MiB / 11441MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
+-----------------------------------------------------------------------------+

In [ ]:
#plot selected feature
ax = sns.histplot(x=raw['amount_tsh'])
ax.set (title = "test", ylabel = "Vzl mean score")
plt.show()

In [1]:
# plot distribution of features
fig, axes = plt.subplots(nrows=2,ncols=4, figsize = (15,8))
sns.histplot(x=raw['amount_tsh'],  ax=axes[0][0],  color = 'green' )
sns.histplot(x=raw['amount_tsh'],  ax=axes[0][1], color = 'green')
sns.histplot(x=raw['amount_tsh'],  ax=axes[0][2], color = 'green')
sns.histplot(x=raw['amount_tsh'],  ax=axes[0][3], color = 'green')

#sns.kdeplot(x=df['Ingr_Haver_1'],  ax=axes[1][0],  color = 'green' )
#sns.kdeplot(x=df['Ingr_Palmpitvetzuur_1'],  ax=axes[1][1], color = 'green')
#sns.kdeplot(x=df['K_1'],  ax=axes[1][2], color = 'green')
#sns.kdeplot(x=df['RE_1'],  ax=axes[1][3], color = 'green')


#axes[0][0].set(xlabel = "Temperature", ylabel='Count', title="Effect of Temperature on Count")
#axes[0][1].set(xlabel='Humidity', ylabel='Count',title="Effect of Humidity on Count")
#axes[1][0].set(xlabel='windspeed', ylabel='Count',title="Effect of Windspeed on Count")
#axes[1][1].set(xlabel='Windspeed_mice', ylabel='Count',title="Effect of Windspeed(Mice) on Count")
plt.show()

NameError: ignored

In [120]:
feature = test.columns.tolist()

def graphs(feature, rows, columns):
    fig, axes = plt.subplots(nrows=rows,ncols=columns, figsize = (20,20))
    plot = 0
    for i in range(rows):
        for j in range(columns):
             ax = sns.kdeplot(x=test[feature[plot]],  ax = axes[i][j],  color = 'green' )
             ax.set_title("Skeweness: {}".format(test[feature[plot]].skew()))
             plot +=1

graphs(feature, 3, 5)

####**2.1.1 Categorical data**

In [ ]:
raw[categorical].head()

     status_group  ... waterpoint_type_group
0      functional  ...    communal standpipe
1      functional  ...    communal standpipe
2      functional  ...    communal standpipe
3  non functional  ...    communal standpipe
4      functional  ...    communal standpipe

[5 rows x 33 columns]

In [ ]:
# print absolute number  of missing continious data points
#print(raw[categorical].isna().sum().sort_values(ascending=False))

In [ ]:
#print percentage of missing numerical datapoints
#round(raw[categorical].isna().sum()*100/raw[categorical].isna().count()).sort_values(ascending=False)

In [ ]:
#print percentage of missing numerical datapoints
#round(raw[categorical].isna().sum()*100/raw[categorical].isna().count()).sort_values(ascending=False)

In [ ]:
#value = raw['status_group'].value_counts()
#value

In [ ]:
#explore the cardinality of numerical features
#for column in raw[categorical]:
  #mode = raw[column].value_counts()
  #print(mode)

In [ ]:
#how many unique gps coordinates are there?
#temp = raw.copy()
#temp['location'] = temp['longitude'].astype(str) + '-' + temp['latitude'].astype(str)
#temp['location'].nunique()

In [118]:
data_types = pd.DataFrame(
    raw[categorical].dtypes,
    columns=['Data Type'])

count_values = pd.DataFrame(
    columns=['Count Value'])
for row in list(raw[categorical].columns.values):
    count_values.loc[row] = [raw[categorical][row].count()]

missing_data = pd.DataFrame(
    raw[categorical].isnull().sum(),
    columns=['Missing Values'])

unique_values = pd.DataFrame(
    columns=['Unique Values'])
for row in list(raw[categorical].columns.values):
    unique_values.loc[row] = [raw[categorical][row].nunique()]

mode_values = pd.DataFrame(
    columns=['Mode'])
for row in list(raw[categorical].columns.values):
    mode_values.loc[row] = [raw[categorical][row].mode()[0]]
    mode = mode_values.loc[row]

#mode frequency
listModeFreq = []
for row in categorical:
    mode = raw[row].mode().iat[0]
    ModeFreq = raw[row].value_counts()[mode]
    #print(x, mode, raw[x].value_counts()[mode])
    listModeFreq .append(ModeFreq )
listModeFreq  = np.array(listModeFreq )

dq_report = data_types.join(count_values).join(missing_data).join(unique_values).join(mode_values)
dq_report['Mode freq.'] = listModeFreq 
dq_report['Mode %'] = (dq_report['Mode freq.'] / dq_report['Count Value']*100) 
dq_report['Missing %'] = (dq_report['Missing Values'] / len(raw[categorical]) *100)
dq_report

                      Data Type Count Value  ...    Mode %  Missing %
status_group             object       59400  ...   54.3081  20.000000
funder                   object       69746  ...   16.2002   6.065993
installer                object       69718  ...   31.1985   6.103704
wpt_name                 object       74250  ...    5.9798   0.000000
num_private              object       74250  ...   98.7192   0.000000
basin                    object       74250  ...   17.3347   0.000000
subvillage               object       73780  ...  0.875576   0.632997
region                   object       74250  ...   8.88754   0.000000
region_code              object       74250  ...   8.89966   0.000000
district_code            object       74250  ...   20.6047   0.000000
lga                      object       74250  ...   4.21279   0.000000
ward                     object       74250  ...  0.519865   0.000000
public_meeting           object       70095  ...   90.9466   5.595960
recorded_by              object       74250  ...       100   0.000000
scheme_management        object       69404  ...    66.159   6.526599
scheme_name              object       38992  ...   2.20045  47.485522
permit                   object       70457  ...   68.9868   5.108418
extraction_type          object       74250  ...   44.7987   0.000000
extraction_type_group    object       74250  ...   44.7987   0.000000
extraction_type_class    object       74250  ...   44.7987   0.000000
management               object       74250  ...   68.1805   0.000000
management_group         object       74250  ...   88.2667   0.000000
payment                  object       74250  ...   42.7098   0.000000
payment_type             object       74250  ...   42.7098   0.000000
water_quality            object       74250  ...   85.5286   0.000000
quality_group            object       74250  ...   85.5286   0.000000
quantity                 object       74250  ...   55.9219   0.000000
quantity_group           object       74250  ...   55.9219   0.000000
source                   object       74250  ...   28.5737   0.000000
source_type              object       74250  ...   28.5737   0.000000
source_class             object       74250  ...   77.1529   0.000000
waterpoint_type          object       74250  ...   47.9838   0.000000
waterpoint_type_group    object       74250  ...   58.2343   0.000000

[33 rows x 8 columns]

                      Data Type Count Value  ...    Mode %  Missing %
status_group             object       59400  ...   54.3081  20.000000
funder                   object       69746  ...   16.2002   6.065993
installer                object       69718  ...   31.1985   6.103704
wpt_name                 object       74250  ...    5.9798   0.000000
num_private              object       74250  ...   98.7192   0.000000
basin                    object       74250  ...   17.3347   0.000000
subvillage               object       73780  ...  0.875576   0.632997
region                   object       74250  ...   8.88754   0.000000
region_code              object       74250  ...   8.89966   0.000000
district_code            object       74250  ...   20.6047   0.000000
lga                      object       74250  ...   4.21279   0.000000
ward                     object       74250  ...  0.519865   0.000000
public_meeting           object       70095  ...   90.9466   5.595960
recorded_by              object       74250  ...       100   0.000000
scheme_management        object       69404  ...    66.159   6.526599
scheme_name              object       38992  ...   2.20045  47.485522
permit                   object       70457  ...   68.9868   5.108418
extraction_type          object       74250  ...   44.7987   0.000000
extraction_type_group    object       74250  ...   44.7987   0.000000
extraction_type_class    object       74250  ...   44.7987   0.000000
management               object       74250  ...   68.1805   0.000000
management_group         object       74250  ...   88.2667   0.000000
payment                  object       74250  ...   42.7098   0.000000
payment_type             object       74250  ...   42.7098   0.000000
water_quality            object       74250  ...   85.5286   0.000000
quality_group            object       74250  ...   85.5286   0.000000
quantity                 object       74250  ...   55.9219   0.000000
quantity_group           object       74250  ...   55.9219   0.000000
source                   object       74250  ...   28.5737   0.000000
source_type              object       74250  ...   28.5737   0.000000
source_class             object       74250  ...   77.1529   0.000000
waterpoint_type          object       74250  ...   47.9838   0.000000
waterpoint_type_group    object       74250  ...   58.2343   0.000000

[33 rows x 8 columns]

In [ ]:
def graphs(feature, rows, columns):
    fig, axes = plt.subplots(nrows=rows,ncols=columns, figsize = (20,20))
    plot = 0
    for i in range(rows):
        for j in range(columns):
             ax = sns.kdeplot(x=test[feature[plot]],  ax = axes[i][j],  color = 'green' )
             ax.set_title("Skeweness: {}".format(test[feature[plot]].skew()))
             plot +=1

In [ ]:
graphs(feature, 3, 5)