<a href="https://colab.research.google.com/github/BrendaLoznik/waterpumps/blob/main/Waterpumps.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

competition: https://www.drivendata.org/competitions/7/pump-it-up-data-mining-the-water-table/

geographical data: https://heartbeat.fritz.ai/working-with-geospatial-data-in-machine-learning-ad4097c7228d

###**1.1 Loading Libraries**

In [1]:
#basic libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from scipy import stats

###**1.2 Loading data**

In [3]:
from google.colab import drive 
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [4]:
train_labels = pd.read_csv('/content/gdrive/MyDrive/Kaggle/Waterpumps/train_labels.csv')
train_values = pd.read_csv('/content/gdrive/MyDrive/Kaggle/Waterpumps/train_values.csv', parse_dates = ['date_recorded'])
test_values = pd.read_csv('/content/gdrive/MyDrive/Kaggle/Waterpumps/test_values.csv', parse_dates = ['date_recorded'])

In [11]:
#merge train values and train labels to single dataset
train= pd.merge(train_labels , train_values, on='id')

      id    status_group  ...              waterpoint_type waterpoint_type_group
0  69572      functional  ...           communal standpipe    communal standpipe
1   8776      functional  ...           communal standpipe    communal standpipe
2  34310      functional  ...  communal standpipe multiple    communal standpipe
3  67743  non functional  ...  communal standpipe multiple    communal standpipe
4  19728      functional  ...           communal standpipe    communal standpipe

[5 rows x 41 columns]

In [16]:
#concatenate train and test for easier data minipulation
raw = pd.concat([train, test_values])
raw.head()

      id    status_group  ...              waterpoint_type waterpoint_type_group
0  69572      functional  ...           communal standpipe    communal standpipe
1   8776      functional  ...           communal standpipe    communal standpipe
2  34310      functional  ...  communal standpipe multiple    communal standpipe
3  67743  non functional  ...  communal standpipe multiple    communal standpipe
4  19728      functional  ...           communal standpipe    communal standpipe

[5 rows x 41 columns]

In [95]:
#convert faulty datatypes
raw[['region_code','district_code', 'num_private']] = raw[['region_code','district_code', 'num_private']].astype('object')

In [96]:
#divide features into numerical and cateogorical for ease of describtion
numerical = ['id', 'amount_tsh', 'date_recorded', 'gps_height',  'longitude', 'latitude', 
             'population', 'construction_year' ]

categorical = ['status_group', 'funder', 'installer','wpt_name','num_private',  'basin', 'subvillage', 'region', 'region_code',
               'district_code', 'lga', 'ward', 'public_meeting', 'recorded_by', 'scheme_management', 
               'scheme_name', 'permit', 'extraction_type', 'extraction_type_group','extraction_type_class',
               'management', 'management_group', 'payment','payment_type', 'water_quality', 'quality_group', 'quantity',
               'quantity_group', 'source', 'source_type', 'source_class', 'waterpoint_type', 'waterpoint_type_group']


print("Number of numerical features: {}".format(len(numerical)))
print("Number of categorical features: {}".format(len(categorical)))

Number of numerical features: 8
Number of categorical features: 33

###**2.1 Exploring the data**

####**2.1.1 Numerical data**

In [97]:
raw[numerical].head()

      id  amount_tsh date_recorded  ...   latitude  population  construction_year
0  69572      6000.0    2011-03-14  ...  -9.856322         109               1999
1   8776         0.0    2013-03-06  ...  -2.147466         280               2010
2  34310        25.0    2013-02-25  ...  -3.821329         250               2009
3  67743         0.0    2013-01-28  ... -11.155298          58               1986
4  19728         0.0    2011-07-13  ...  -1.825359           0                  0

[5 rows x 8 columns]

In [98]:
raw[numerical].describe()

                 id     amount_tsh  ...    population  construction_year
count  74250.000000   74250.000000  ...  74250.000000       74250.000000
mean   37124.500000     318.685704  ...    180.750828        1298.463650
std    21434.273081    2906.762364  ...    471.086120         952.349375
min        0.000000       0.000000  ...      0.000000           0.000000
25%    18562.250000       0.000000  ...      0.000000           0.000000
50%    37124.500000       0.000000  ...     25.000000        1986.000000
75%    55686.750000      20.000000  ...    215.000000        2004.000000
max    74249.000000  350000.000000  ...  30500.000000        2013.000000

[8 rows x 7 columns]

In [99]:
#print percentage of missing numerical datapoints
round(raw[numerical].isna().sum()*100/raw[numerical].isna().count()).sort_values(ascending=False)

construction_year    0.0
population           0.0
latitude             0.0
longitude            0.0
gps_height           0.0
date_recorded        0.0
amount_tsh           0.0
id                   0.0
dtype: float64

In [100]:
#explore the cardinality of numerical features
for column in raw[numerical]:
  unique = raw[column].nunique()
  print(column,":", unique)

id : 74250
amount_tsh : 102
date_recorded : 369
gps_height : 2456
longitude : 71870
latitude : 71869
population : 1128
construction_year : 55

####**2.1.1 Categorical data**

In [101]:
raw[categorical].head()

     status_group  ... waterpoint_type_group
0      functional  ...    communal standpipe
1      functional  ...    communal standpipe
2      functional  ...    communal standpipe
3  non functional  ...    communal standpipe
4      functional  ...    communal standpipe

[5 rows x 33 columns]

In [102]:
raw[categorical].describe(include='all')

       status_group  ... waterpoint_type_group
count         59400  ...                 74250
unique            3  ...                     6
top      functional  ...    communal standpipe
freq          32259  ...                 43239

[4 rows x 33 columns]

In [91]:
# print absolute number  of missing continious data points
#print(raw[categorical].isna().sum().sort_values(ascending=False))

In [88]:
#print percentage of missing numerical datapoints
round(raw[categorical].isna().sum()*100/raw[categorical].isna().count()).sort_values(ascending=False)

scheme_name              47.0
status_group             20.0
scheme_management         7.0
funder                    6.0
installer                 6.0
public_meeting            6.0
permit                    5.0
subvillage                1.0
quality_group             0.0
water_quality             0.0
source_class              0.0
source_type               0.0
wpt_name                  0.0
num_private               0.0
basin                     0.0
region                    0.0
region_code               0.0
district_code             0.0
lga                       0.0
ward                      0.0
source                    0.0
recorded_by               0.0
quantity_group            0.0
quantity                  0.0
waterpoint_type           0.0
extraction_type           0.0
extraction_type_group     0.0
extraction_type_class     0.0
management                0.0
management_group          0.0
payment                   0.0
payment_type              0.0
waterpoint_type_group     0.0
dtype: float64

In [87]:
#value = raw['status_group'].value_counts()
#value

In [76]:
#explore the cardinality of numerical features
for column in raw[categorical]:
  mode = raw[column].value_counts()
  print(mode)

functional                 32259
non functional             22824
functional needs repair     4317
Name: status_group, dtype: int64
Government Of Tanzania          11299
Danida                           3907
Hesawa                           2782
Rwssp                            1703
World Bank                       1701
                                ...
Idf                                 1
Mahita                              1
Wdsp                                1
Nyeisa                              1
Mwalimu  Maneromango Muhenzi        1
Name: funder, Length: 2140, dtype: int64
DWE                            21751
Government                      2282
RWE                             1498
Commu                           1347
DANIDA                          1305
                               ...
Saidi Halfani                      1
OMARY MONA                         1
KARUMBA BIULDING CONTRACTOR        1
KKKT Katiti juu                    1
J mal Abdallah                     1
Name: installer, Length: 2410, dtype: int64
none              4440
Shuleni           2183
Zahanati          1034
Msikitini          647
Kanisani           390
                  ...
Badabada             1
Kwamadenge           1
Kwa Mwanadongo       1
Luvai A              1
Kwa Hamza 3          1
Name: wpt_name, Length: 45684, dtype: int64
0      73299
1         94
6         92
5         60
8         58
       ...
30         1
669        1
668        1
213        1
62         1
Name: num_private, Length: 68, dtype: int64
Lake Victoria              12871
Pangani                    11143
Rufiji                      9987
Internal                    9642
Lake Tanganyika             8052
Wami / Ruvu                 7577
Lake Nyasa                  6332
Ruvuma / Southern Coast     5587
Lake Rukwa                  3059
Name: basin, dtype: int64
Shuleni       646
Majengo       631
Madukani      629
Kati          467
Mtakuja       322
             ...
Igiligito       1
Mwatenge B      1
Gua E           1
Gabaniro        1
Ulolwa          1
Name: subvillage, Length: 21425, dtype: int64
Iringa           6599
Shinyanga        6293
Mbeya            5758
Kilimanjaro      5494
Morogoro         5038
Kagera           4174
Arusha           4111
Mwanza           3897
Kigoma           3533
Pwani            3331
Ruvuma           3306
Tanga            3186
Dodoma           2779
Singida          2536
Tabora           2466
Mara             2451
Rukwa            2242
Mtwara           2144
Manyara          1972
Lindi            1920
Dar es Salaam    1020
Name: region, dtype: int64
11    6608
17    6334
12    5759
3     5494
5     5079
18    4183
19    3824
2     3709
16    3533
10    3306
4     3145
1     2779
13    2536
14    2488
20    2451
15    2242
6     2032
21    1972
80    1536
60    1298
90    1133
7     1020
99     512
9      499
24     402
8      375
40       1
Name: region_code, dtype: int64
1     15299
2     13929
3     12521
4     11253
5      5428
6      5108
7      4166
8      1282
30     1256
33     1063
53      921
43      653
13      496
23      360
63      264
62      127
60       76
0        27
80       13
67        8
Name: district_code, dtype: int64
Njombe          3128
Moshi Rural     1566
Arusha Rural    1521
Bariadi         1485
Rungwe          1381
                ...
Songea Urban     103
Kigoma Urban      95
Arusha Urban      82
Lindi Urban       24
Nyamagana          2
Name: lga, Length: 125, dtype: int64
Igosi        386
Imalinyi     318
Siha Kati    297
Mdandu       292
Nduruma      261
            ...
Kinungu        1
Mdabulo        1
Matarawe       1
Nyamtinga      1
Ukata          1
Name: ward, Length: 2098, dtype: int64
True     63749
False     6346
Name: public_meeting, dtype: int64
GeoData Consultants Ltd    74250
Name: recorded_by, dtype: int64
VWC                 45917
WUG                  6496
Water authority      3975
WUA                  3551
Water Board          3462
Parastatal           2124
Company              1341
Private operator     1326
Other                 996
SWC                   123
Trust                  92
None                    1
Name: scheme_management, dtype: int64
K                       858
None                    794
Borehole                704
Chalinze wate           501
M                       490
                       ...
Manjau                    1
Mashangwi                 1
BL Donyo shuleni          1
Magati  gravity spri      1
Iton                      1
Name: scheme_name, Length: 2868, dtype: int64
True     48606
False    21851
Name: permit, dtype: int64
gravity                      33263
nira/tanira                  10205
other                         8102
submersible                   5982
swn 80                        4588
mono                          3628
india mark ii                 3029
afridev                       2208
ksb                           1790
other - rope pump              572
other - swn 81                 284
windmill                       152
india mark iii                 135
cemo                           108
other - play pump              101
walimi                          60
climax                          41
other - mkulima/shinyanga        2
Name: extraction_type, dtype: int64
gravity            33263
nira/tanira        10205
other               8102
submersible         7772
swn 80              4588
mono                3628
india mark ii       3029
afridev             2208
rope pump            572
other handpump       447
wind-powered         152
other motorpump      149
india mark iii       135
Name: extraction_type_group, dtype: int64
gravity         33263
handpump        20612
other            8102
submersible      7772
motorpump        3777
rope pump         572
wind-powered      152
Name: extraction_type_class, dtype: int64
vwc                 50624
wug                  8108
water board          3688
wua                  3118
private operator     2504
parastatal           2229
water authority      1123
other                1083
company               859
unknown               683
other - school        126
trust                 105
Name: management, dtype: int64
user-group    65538
commercial     4591
parastatal     2229
other          1209
unknown         683
Name: management_group, dtype: int64
never pay                31712
pay per bucket           11266
pay monthly              10397
unknown                  10149
pay when scheme fails     4842
pay annually              4570
other                     1314
Name: payment, dtype: int64
never pay     31712
per bucket    11266
monthly       10397
unknown       10149
on failure     4842
annually       4570
other          1314
Name: payment_type, dtype: int64
soft                  63505
salty                  6082
unknown                2345
milky                  1005
coloured                623
salty abandoned         423
fluoride                244
fluoride abandoned       23
Name: water_quality, dtype: int64
good        63505
salty        6505
unknown      2345
milky        1005
colored       623
fluoride      267
Name: quality_group, dtype: int64
enough          41522
insufficient    18896
dry              7782
seasonal         5075
unknown           975
Name: quantity, dtype: int64
enough          41522
insufficient    18896
dry              7782
seasonal         5075
unknown           975
Name: quantity_group, dtype: int64
spring                  21216
shallow well            21140
machine dbh             13822
river                   11964
rainwater harvesting     2863
hand dtw                 1108
lake                      950
dam                       840
other                     261
unknown                    86
Name: source, dtype: int64
spring                  21216
shallow well            21140
borehole                14930
river/lake              12914
rainwater harvesting     2863
dam                       840
other                     347
Name: source_type, dtype: int64
groundwater    57286
surface        16617
unknown          347
Name: source_class, dtype: int64
communal standpipe             35628
hand pump                      21884
other                           8010
communal standpipe multiple     7611
improved spring                  959
cattle trough                    150
dam                                8
Name: waterpoint_type, dtype: int64
communal standpipe    43239
hand pump             21884
other                  8010
improved spring         959
cattle trough           150
dam                       8
Name: waterpoint_type_group, dtype: int64

In [106]:
#how many unique gps coordinates are there?
#temp = raw.copy()
#temp['location'] = temp['longitude'].astype(str) + '-' + temp['latitude'].astype(str)
#temp['location'].nunique()

      id    status_group  ...  waterpoint_type_group                  location
0  69572      functional  ...     communal standpipe   34.93809275--9.85632177
1   8776      functional  ...     communal standpipe    34.6987661--2.14746569
2  34310      functional  ...     communal standpipe   37.46066446--3.82132853
3  67743  non functional  ...     communal standpipe  38.48616088--11.15529772
4  19728      functional  ...     communal standpipe   31.13084671--1.82535885

[5 rows x 42 columns]